{% extends 'base.html' %}

{% block title %}
    {{ titulo_pagina }} | Biblioteca Escolar
{% endblock %}

{% block content %}

<div class="cabecera-pagina">
    <div>
        <h2>{{ titulo_pagina }}</h2>

        <p>
            Libro:
            <strong>{{ libro.titulo }}</strong>
        </p>
    </div>

    <a
        href="{% url 'libros:detalle' libro.id %}"
        class="boton boton-secundario"
    >
        Volver
    </a>
</div>

<div class="panel formulario-panel">

    <div class="aviso-importacion">
        Si deja vacío el número de inventario,
        el sistema asignará automáticamente el primer
        número disponible.
    </div>

    <form method="post" novalidate>
        {% csrf_token %}

        {% if formulario.non_field_errors %}
            <div class="mensaje mensaje-error">
                {% for error in formulario.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="formulario-grid">

            {% for campo in formulario %}
                <div
                    class="
                        grupo-campo
                        {% if campo.name == 'observaciones' %}
                            campo-completo
                        {% endif %}
                    "
                >
                    <label for="{{ campo.id_for_label }}">
                        {{ campo.label }}

                        {% if campo.field.required %}
                            <span class="obligatorio">*</span>
                        {% endif %}
                    </label>

                    {{ campo }}

                    {% if campo.help_text %}
                        <small>{{ campo.help_text }}</small>
                    {% endif %}

                    {% for error in campo.errors %}
                        <span class="error-campo">
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

        <div class="acciones-formulario">
            <button
                type="submit"
                class="boton boton-primario"
            >
                Guardar ejemplar
            </button>

            <a
                href="{% url 'libros:detalle' libro.id %}"
                class="boton boton-secundario"
            >
                Cancelar
            </a>
        </div>
    </form>

</div>

{% endblock %}