{% extends 'base.html' %}

{% block title %}
Inicio | Biblioteca Escolar
{% endblock %}

{% block content %}

<section class="bienvenida">
    <h2>Panel principal</h2>

    <p>
        Seleccione la operación que desea realizar.
    </p>
</section>

<section class="tarjetas">

    <a href="{% url 'alumnos:lista' %}" class="tarjeta tarjeta-azul">
        <span class="icono">👥</span>

        <div>
            <h3>Alumnos</h3>
            <p>
                Registrar, importar y buscar alumnos.
            </p>
        </div>
    </a>


    <a href="{% url 'docentes:lista' %}" class="tarjeta tarjeta-docentes">
        <span class="icono">👨‍🏫</span>

        <div>
            <h3>Docentes</h3>

            <p>
                Registrar, importar y buscar docentes.
            </p>
        </div>
    </a>

    <a
    href="{% url 'libros:lista' %}"
    class="tarjeta tarjeta-verde"
>
        <span class="icono">📚</span>

        <div>
            <h3>Libros</h3>
            <p>
                Registrar libros y controlar ejemplares.
            </p>
        </div>
    </a>

    <a href="#" class="tarjeta tarjeta-naranja">
        <span class="icono">📤</span>

        <div>
            <h3>Registrar préstamo</h3>
            <p>
                Entregar un libro a un alumno.
            </p>
        </div>
    </a>

    <a href="#" class="tarjeta tarjeta-celeste">
        <span class="icono">📥</span>

        <div>
            <h3>Registrar devolución</h3>
            <p>
                Registrar la devolución de un libro.
            </p>
        </div>
    </a>

    <a href="#" class="tarjeta tarjeta-roja">
        <span class="icono">⏰</span>

        <div>
            <h3>Préstamos vencidos</h3>
            <p>
                Consultar libros que no fueron devueltos.
            </p>
        </div>
    </a>

    <a href="#" class="tarjeta tarjeta-morada">
        <span class="icono">📊</span>

        <div>
            <h3>Reportes</h3>
            <p>
                Consultar inventario y movimientos.
            </p>
        </div>
    </a>

</section>

<section class="resumen">
    <h2>Resumen de la biblioteca</h2>

    <div class="resumen-tarjetas">

        <div class="dato">
            <strong>0</strong>
            <span>Libros registrados</span>
        </div>

        <div class="dato">
            <strong>0</strong>
            <span>Ejemplares disponibles</span>
        </div>

        <div class="dato">
            <strong>0</strong>
            <span>Préstamos activos</span>
        </div>

        <div class="dato dato-alerta">
            <strong>0</strong>
            <span>Préstamos vencidos</span>
        </div>

    </div>
</section>

{% endblock %}